name: "Close PR on Failure"

on:
  pull_request:
    branches: ["dev"]
    types: [opened, synchronize, reopened]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Log Git Commit
        run: echo "Git Commit $(git show -s --format=%B)"

      - name: Install dependencies
        id: install
        run: npm install
        continue-on-error: true

      - name: Run lint
        id: lint
        run: npm run lint
        continue-on-error: true

      - name: Run tests
        id: test
        run: npm test
        continue-on-error: true

      - name: Run build
        id: build
        run: npm run build
        continue-on-error: true

      - name: Check for failures
        id: check-failures
        run: |
          if [ ${{ steps.install.outcome }} != 'success' ]; then
            echo "::set-output name=failed_step::Install dependencies"
          elif [ ${{ steps.lint.outcome }} != 'success' ]; then
            echo "::set-output name=failed_step::Run lint"
          elif [ ${{ steps.test.outcome }} != 'success' ]; then
            echo "::set-output name=failed_step::Run tests"
          elif [ ${{ steps.build.outcome }} != 'success' ]; then
            echo "::set-output name=failed_step::Run build"
          fi

      - name: Leave comment on PR if failed
        if: steps.check-failures.outputs.failed_step != ''
        uses: peter-evans/create-or-update-comment@v4.0.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: "Failed at step: ${{ steps.check-failures.outputs.failed_step }}"
          reactions: '+1'

      - name: Close Pull Request if failed
        if: steps.check-failures.outputs.failed_step != ''
        uses: peter-evans/close-pull@v3
