name: "Close PR on Failure"

on:
  pull_request:
    branches: ["dev"]
    types: [opened, synchronize, reopened]

jobs:
  check-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'node'
          cache: 'npm'

      - name: Check commit messages
        id: check-commits
        run: |
          GITHUB_OUTPUT=test
          # 커밋 메시지 검사
          COMMIT_MSG=$(git log --format=%B -n 1)
          KEYWORDS=("fix" "feat" "chore" "docs" "style" "refactor" "test" "perf")
          URL_PATTERN="https://well-check.atlassian.net" 
          echo "status=fail" >> "$GITHUB_OUTPUT"
          echo "step=Check commit messages" >> "$GITHUB_OUTPUT"

          # 키워드 확인
          STATUS_CHECK=false
          for keyword in "${KEYWORDS[@]}"; do
            if [[ "$COMMIT_MSG" =~ $keyword: ]]; then
              STATUS_CHECK=true
              break
            fi
          done

          if [ "$STATUS_CHECK" != true ]; then
            echo "message=Missing required keywords ($KEYWORDS)." >> "$GITHUB_OUTPUT"
            echo "status=fail" >> "$GITHUB_OUTPUT"
          else
            # URL 검사
            if ! [[ "$COMMIT_MSG" =~ $URL_PATTERN ]]; then
              echo "message=Commit message does not contain required URL." >> "$GITHUB_OUTPUT"
              echo "status=fail" >> "$GITHUB_OUTPUT"
            else
              echo "status=success" >> "$GITHUB_OUTPUT"
            fi
          fi
        continue-on-error: true

      - name: Install dependencies
        if: env.status == 'success'
        run: npm install
        continue-on-error: true

      - name: Run lint
        if: env.status == 'success'
        run: npm run lint
        continue-on-error: true

      - name: Run tests
        if: env.status == 'success'
        run: npm test
        continue-on-error: true

      - name: Run build
        if: env.status == 'success'
        run: npm run build
        continue-on-error: true

      - name:  Leave comment on PR
        uses: peter-evans/create-or-update-comment@v4.0.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            This is a multi-line test comment
            "Failed at step ${{ env.step }}: ${{ env.message }}"
          reactions: '+1'

      - name: Close Pull
        if: env.status == 'fail' || failure()
        uses: peter-evans/close-pull@v3
        with:
          comment: "Failed at step ${{ env.step }}: ${{ env.message }}"
          delete-branch: false
