name: "Close PR on Failure"

on:
  pull_request:
    branches: ["dev"]
    types: [opened, synchronize, reopened]

jobs:
  validate-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check commit messages
        run: |
          COMMIT_MSG=$(git show -s --format=%B)
          if [[ "$COMMIT_MSG" =~ ^Merge\ pull\ request ]]; then
            echo "Skipping merge commit."
            echo "status=success" >> $GITHUB_ENV
          else
            echo "Commit Message: $COMMIT_MSG"
            KEYWORDS='["1","2","3"]'
            URL_PATTERN='https://well-check.atlassian.net'
            STATUS="fail"
            if [[ "$COMMIT_MSG" =~ "fix" || "$COMMIT_MSG" =~ "feat" || "$COMMIT_MSG" =~ "chore" ]]; then
              if [[ "$COMMIT_MSG" =~ $URL_PATTERN ]]; then
                STATUS="success"
              fi
            fi
            echo "status=$STATUS" >> $GITHUB_ENV
            if [[ "$STATUS" == "fail" ]]; then
              echo "Commit message validation failed."
            fi

  build-and-test:
    needs: validate-commit-message
    runs-on: ubuntu-latest
    if: env.status == 'success'
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        id: install
        run: npm install
        continue-on-error: true

      - name: Run lint
        id: lint
        run: npm run lint
        continue-on-error: true

      - name: Run tests
        id: test
        run: npm test
        continue-on-error: true

      - name: Run build
        id: build
        run: npm run build
        continue-on-error: true

      - name: Check for failures
        id: check-failures
        run: |
          FAILED_STEPS=""
          [ ${{ steps.install.outcome }} != 'success' ] && FAILED_STEPS+="Install dependencies, "
          [ ${{ steps.lint.outcome }} != 'success' ] && FAILED_STEPS+="Run lint, "
          [ ${{ steps.test.outcome }} != 'success' ] && FAILED_STEPS+="Run tests, "
          [ ${{ steps.build.outcome }} != 'success' ] && FAILED_STEPS+="Run build, "
          echo "FAILED_STEPS=${FAILED_STEPS::-2}" >> $GITHUB_ENV

  comment-and-close:
    needs: [validate-commit-message, build-and-test]
    runs-on: ubuntu-latest
    if: env.status == 'fail' || env.FAILED_STEPS != ''
    steps:
      - name: Leave comment on PR
        uses: peter-evans/create-or-update-comment@v4.0.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: "Failed at steps: ${{ env.FAILED_STEPS }}"
          reactions: '+1'
