name: "Close PR on Failure"

on:
  pull_request:
    branches: ["dev"]
    types: [opened, synchronize, reopened]

jobs:
  validate-commit-message:
    runs-on: ubuntu-latest
    outputs:
      commit_status: ${{ steps.filter-commit.outcome }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Filter merge commits
        id: filter-commit
        run: |
          COMMIT_MSG=$(git show -s --format=%B)
          if [[ "$COMMIT_MSG" =~ ^Merge ]]; then
            echo "Merge commit detected. Skipping further actions."
            exit 78  # Exiting with neutral status
          else
            echo "Non-merge commit. Proceeding with checks."
            exit 0  # Proceed with workflow

      - name: Check commit messages
        if: steps.filter-commit.outcome == 'success'
        run: |
          KEYWORDS='["1","2","3"]'
          URL_PATTERN='https://well-check.atlassian.net'
          COMMIT_MSG=$(git show -s --format=%B)
          echo "Commit Message: $COMMIT_MSG"
          if [[ ! "$COMMIT_MSG" =~ "fix" && ! "$COMMIT_MSG" =~ "feat" && ! "$COMMIT_MSG" =~ "chore" ]] || [[ ! "$COMMIT_MSG" =~ $URL_PATTERN ]]; then
            echo "Commit message validation failed."
            echo "status=fail" >> $GITHUB_ENV
          else
            echo "status=success" >> $GITHUB_ENV

  build-and-test:
    needs: validate-commit-message
    if: needs.validate-commit-message.outputs.commit_status == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        id: install
        run: npm install
        continue-on-error: true

      - name: Run lint
        id: lint
        run: npm run lint
        continue-on-error: true

      - name: Run tests
        id: test
        run: npm test
        continue-on-error: true

      - name: Run build
        id: build
        run: npm run build
        continue-on-error: true

      - name: Determine failed step
        run: |
          FAILED_STEP=""
          [[ ${{ steps.install.outcome }} != 'success' ]] && FAILED_STEP="Install dependencies"
          [[ ${{ steps.lint.outcome }} != 'success' ]] && FAILED_STEP="Run lint"
          [[ ${{ steps.test.outcome }} != 'success' ]] && FAILED_STEP="Run tests"
          [[ ${{ steps.build.outcome }} != 'success' ]] && FAILED_STEP="Run build"
          echo "FAILED_STEP=$FAILED_STEP" >> $GITHUB_ENV

  comment-and-close:
    needs: [validate-commit-message, build-and-test]
    if: env.status == 'fail' || env.FAILED_STEP != ''
    runs-on: ubuntu-latest
    steps:
      - name: Leave comment on PR
        uses: peter-evans/create-or-update-comment@v4.0.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: "Failed at step: ${{ env.FAILED_STEP }}"
          reactions: '+1'
